.top_margin {
	margin-top: 50px;
}

#mediumButton {
	border-radius: 20px;
	margin-left: 15px;
	margin-right: 15px;
	width: 120px;
	/*background: #b34376;*/
}

hr.small {
	margin-bottom: 2px;
}

.skyblue {
	background: #52c9d8;
	color: #fff;
}

.fine {
	font-family: AvenirNext, 'Caviar Dreams';
}