$right-space-vars: (0 right r, 5 right r, 10 right r, 15 right r, 25 right r, 30 right r);
$bottom-space-vars: (0 bottom b, 5 bottom b, 10 bottom b, 15 bottom b, 25 bottom b, 30 bottom b);
$top-space-vars: (0 top t, 5 top t, 10 top t, 15 top t, 25 top t, 30 top t);
@include generate-margin-classes();
@include generate-margin-classes($right-space-vars);
@include generate-margin-classes($bottom-space-vars);
@include generate-margin-classes($top-space-vars);