/*
Author:WebWizard;
Author URL:https://www.facebook.com/iamwebwiz;
*/
body{
	box-sizing: border-box;
}
.login{
	background-image:url(images/login_bg.png);
	background-repeat:no-repeat;
	background-size:cover;
	padding-top:50px;
	padding-bottom:50px;
	padding-right:79px;
	padding-left:79px;
	height:auto;
	width:100%;
}
.login_form{
	background-color:;
	height:auto;
	width:auto;
}